@font-face {
  font-family: 'berkshire_swashregular';
  src: url('../font/berkshireswash-regular-webfont.eot');
  src: url('../font/berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/berkshireswash-regular-webfont.woff2') format('woff2'),
  url('../font/berkshireswash-regular-webfont.woff') format('woff'),
  url('../font/berkshireswash-regular-webfont.ttf') format('truetype'),
  url('../font/berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'oswaldbold';
  src: url('../font/oswald-bold-webfont.eot');
  src: url('../font/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/oswald-bold-webfont.woff2') format('woff2'),
  url('../font/oswald-bold-webfont.woff') format('woff'),
  url('../font/oswald-bold-webfont.ttf') format('truetype'),
  url('../font/oswald-bold-webfont.svg#oswaldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswaldlight';
  src: url('../font/oswald-light-webfont.eot');
  src: url('../font/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/oswald-light-webfont.woff2') format('woff2'),
  url('../font/oswald-light-webfont.woff') format('woff'),
  url('../font/oswald-light-webfont.ttf') format('truetype'),
  url('../font/oswald-light-webfont.svg#oswaldlight') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'oswaldregular';
  src: url('../font/oswald-regular-webfont.eot');
  src: url('../font/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/oswald-regular-webfont.woff2') format('woff2'),
  url('../font/oswald-regular-webfont.woff') format('woff'),
  url('../font/oswald-regular-webfont.ttf') format('truetype'),
  url('../font/oswald-regular-webfont.svg#oswaldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'noteworthylight';
  src: url('../font/noteworthy-webfont.eot');
  src: url('../font/noteworthy-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/noteworthy-webfont.woff2') format('woff2'),
  url('../font/noteworthy-webfont.woff') format('woff'),
  url('../font/noteworthy-webfont.ttf') format('truetype'),
  url('../font/noteworthy-webfont.svg#noteworthylight') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'noteworthybold';
  src: url('../font/noteworthy-bold-webfont.eot');
  src: url('../font/noteworthy-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/noteworthy-bold-webfont.woff2') format('woff2'),
  url('../font/noteworthy-bold-webfont.woff') format('woff'),
  url('../font/noteworthy-bold-webfont.ttf') format('truetype'),
  url('../font/noteworthy-bold-webfont.svg#noteworthybold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'smile2015';
  src:url('../font/smile2015.eot?kwzqqh');
  src:url('../font/smile2015.eot?#iefixkwzqqh') format('embedded-opentype'),
  url('../font/smile2015.woff?kwzqqh') format('woff'),
  url('../font/smile2015.ttf?kwzqqh') format('truetype'),
  url('../font/smile2015.svg?kwzqqh#smile2015') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="smile-"], [class*=" smile-"] {
  font-family: 'smile2015';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smile-leaf_left:before {
  content: "\e600";
}
.smile-leaf_right:before {
  content: "\e601";
}
.smile-wind_right:before {
  content: "\e602";
}
.smile-wind_left:before {
  content: "\e603";
}
.smile-bracket_down:before {
  content: "\e604";
}
.smile-bracket_up:before {
  content: "\e605";
}
.smile-star:before {
  content: "\e606";
}
.smile-exclam_left:before {
  content: "\e607";
}
.smile-exclam_right:before {
  content: "\e608";
}
.smile-glasses:before {
  content: "\e609";
}
.smile-scroll:before {
  content: "\e60a";
}