@import "compass/css3";
@import "normalize";
@import "font";

// Variables
$orangeSmile: #ec6608;
$defaultFont: "Century Gothic", CenturyGothic, AppleGothic, Arial, sans-serif;
$noteworthylight: 'noteworthylight', cursive;
$noteworthybold: 'noteworthybold', cursive;
$berkshireswash: 'berkshire_swashregular', cursive ;
$oswaldbold: 'oswaldbold', fantasy;

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

html{
  background: #000;
  overflow-x: hidden;
}

html, body{
  position: relative;
  height: 100%;
  width: 100%;
}

body{
  background: $orangeSmile;
  color: #fff;
  font-family: $defaultFont;
}

.lang-container{
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  border: 1px solid #fff;
  @include border-radius(4px);
  padding: 5px 10px;
  font-size: 13px;
  width: 60px;
  text-align: center;

  .separator{
    background: #fff;
    width: 1px;
    height: 12px;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 1px;
  }
  span{
    padding: 0 5px;
  }
  a{
    padding: 0 5px;
    color: inherit;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.scroll-advice{
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 30px;
  text-align: center;
  font-family: $oswaldbold;
  text-transform: uppercase;
  @include animation(scrollAnim 1s infinite);

  .smile-scroll{
    font-size: 30px;
    display: inline-block;
    border: 2px solid #fff;
    @include border-radius(45%);
    padding: 10px 0;
  }
  .text{
    margin-top: 15px;
    display: block;
    font-size: 3vh;
  }
}
.end .scroll-advice{
  display: none;
}
@include keyframes(scrollAnim) {
  0%{
    @include opacity(.5);
    bottom: 10px;
  }
  50%{
    @include opacity(1);
    bottom: 15px;
  }
  100%{
    @include opacity(.5);
    bottom: 10px;
  }
}

.full-screen{
  position: relative;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.step-container{
  position: relative;
  text-align: left;
  display: inline-block;
  height: 70vh;
  margin-top: 50px !important;
  margin-top: 15vh !important;
}

.step_1{
  background: $orangeSmile;

  *{
    line-height: 1em;
    margin: 0;
  }
  .step-container{
    position: relative;
  }
  .el1{
    position: relative;
    font-size: 65px;
    font-size: 10vh;
    margin-left: 25vh;
    font-family: $noteworthylight;
    .smile-wind_left{
      display: block;
      position: absolute;
      font-size: 10vh;
      top: -7vh;
      left: -14vh;
    }
  }
  .el2{
    position: relative;
    font-size: 90px;
    font-size: 14.5vh;
    font-style: italic;
    font-weight: bold;
    .smile-exclam_right{
      display: block;
      position: absolute;
      font-size: 8vh;
      font-weight: normal;
      font-style: normal;
      top: -1vh;
      right: -3.5vh;
    }
    .smile-exclam_left{
      display: block;
      position: absolute;
      font-size: 8vh;
      font-weight: normal;
      font-style: normal;
      top: -3vh;
      left: -6.5vh;
    }
  }
  .el3{
    font-size: 42px;
    font-size: 7.5vh;
    font-family: $berkshireswash;
    text-align: right;
    margin-right: 8vh;
  }
  .el4{
    position: relative;
    font-size: 86px;
    font-size: 14vh;
    font-family: $oswaldbold;
    text-transform: uppercase;
    text-align: right;
    margin-right: 3vh;

    .smile-glasses{
      display: inline-block;
      font-size: 0.9em;
      margin-right: 1vh;
    }
    .smile-leaf_left{
      content: '\e600';
      display: block;
      position: absolute;
      font-family: 'smile2015';
      font-size: 7.5vh;
      font-weight: normal;
      font-style: normal;
      bottom: 1vh;
      left: -10vh;
    }
    .smile-wind_right{
      content: '\e602';
      display: block;
      position: absolute;
      font-family: 'smile2015';
      font-size: 10vh;
      font-weight: normal;
      font-style: normal;
      bottom: -11vh;
      right: -12vh;
    }
  }
}
  .logo-smile{
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 2%;
    margin-top: 5vh;
    height: 8vh;
    max-height: 40px;
  }

.step_2 {
  color: #56707d;
  background: white url('../images/step2_bg.jpg') repeat 0 0;
  background-size: cover;

  .smile-bracket_up, .smile-bracket_down{
    color: #fff;
  }
  .volet{
    height: 50vh;
    width: 100%;
    width: 100vw;
    position: absolute;
    font-size: 36px;
    font-size: 6vh;
    font-family: $noteworthybold;
  }
  .volet-1{
    height: 25vh;
    top: 0;
    color: #0d2b3b;

    .title{
      display: block;
      text-align: center;
      font-style: italic;
      font-family: $berkshireswash;
      font-size: 6.5vh;
    }
    .subtitle{
      display: block;
      text-align: center;
      font-family: $defaultFont;
      font-size: 3.5vh;
    }
  }
    .volet-1__container{
      display: block;
      width: 100%;
      height: 20vh;
      position: absolute;
      bottom: 0;
    }
  .step_2__container-img{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    height: 50vh;
    width: 100%;
    overflow: hidden;
    display: block;
  }
    .step_2__main-img{
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      height: 50vh;
      max-height: 600px;
    }
  .volet-2{
    height: 25vh;
    bottom: 0;
    color: #fff;
    font-family: $defaultFont;

    .smile-text{
      height: 3vh;
    }
    .text{
      font-size: 3.5vh;
      display: block;
      margin-top: 8vh;
    }
  }
}
.step_3{
  background: $orangeSmile;

  *{
    line-height: 1em;
    margin: 0;
  }
  .step-container{
    margin-top: 100px !important;
    margin-top: 27vh !important;
  }
  .el1{
    position: relative;
    font-size: 92px;
    font-size: 15.5vh;
    font-family: $berkshireswash;

    .smile-wind_left{
      display: block;
      position: absolute;
      font-size: 14vh;
      font-weight: normal;
      font-style: normal;
      top: -14.5vh;
      left: -5.5vh;
    }
  }
  .el2{
    position: relative;
    display: inline-block;
    font-size: 103px;
    font-size: 17.5vh;
    text-transform: uppercase;
    font-family: $oswaldbold;
    margin-left: 28vh;

    .smile-exclam_right{
      content: '\e608';
      display: block;
      position: absolute;
      font-family: 'smile2015';
      font-size: 12vh;
      font-weight: normal;
      font-style: normal;
      top: -10vh;
      right: -14vh;
    }
  }
  .el3{
    font-size: 38px;
    font-size: 7vh;
    font-family: $noteworthylight;
    text-align: center;

    a{
      font-family: $defaultFont;
      color: inherit;
      text-decoration: none;
      @include transition(font-size, .2s);
    }

  }
  .el4{
    font-size: 5vh;
    text-align: center;
    margin-top: 10vh;

    .smile-leaf_left{
      display: inline-block;
      @include transform-origin(center, right);
    }
    .smile-leaf_right{
      display: inline-block;
      @include transform-origin(center, left);
    }
  }
}

.csstransforms3d{
  body{
    background: #000;
  }
  .fixed{
    position: fixed;
    top: 0;
    left: 0;
  }
  .perspective{
    @include perspective(15000000000px);
    @include perspective-origin(50% 50%);
  }
  .container--3d{
    @include transform-style(preserve-3d);
    @include transform-origin(100%, 50%);
  }
  .container--3d.step2 {
    @include transform(rotateY(-90deg) translateZ(0vw));
  }

  .step_1{
    position: absolute;
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
  }
  .step_2{
    position: absolute;
    @include transform(rotateY(90deg) translateX(100vw));
    @include transform-origin(top, right);
    @include backface-visibility(hidden);
  }
  .step_3{
    position: absolute;
    top: 100vh;
    @include transform(rotateY(90deg) translateX(100vw));
    @include transform-origin(top, right);
    @include backface-visibility(hidden);
  }
}
